@import "tailwindcss";


@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/4fe496fb-0f4e-45c9-b770-c07f242f7869/latin.woff2")
    format("woff2");
}


:root {
  --background: #f7f4ee;
  --foreground: #263330;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Muli", sans-serif;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
}